/*
## CSS reset
*/

*, *::before, *::after {
  box-sizing: border-box;
}

/*
  Remove default margin
*/
* {
  margin: 0;
}

/* More accessible line height and better text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}